<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.victorhazbun.localhost</string>
	<key>category</key>
	<string>Dev</string>
	<key>connections</key>
	<dict>
		<key>82EECA61-861A-49E5-9D86-36B4579041E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C8FC478-A3E8-4740-BB88-6786BE14ED03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C98AD7B3-D444-482E-A55B-2E85D490A2C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CE52635-F981-46CB-BD70-500BDB26DA5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFF047ED-49A6-45A6-81FF-B9789071D272</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25928C69-8D87-404D-9E2C-62E38ABB8B1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>victor hazbun</string>
	<key>description</key>
	<string>Open localhost at specified port</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Localhost</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to localhost port '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C98AD7B3-D444-482E-A55B-2E85D490A2C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.chromium.Chromium</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2CE52635-F981-46CB-BD70-500BDB26DA5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.chromium.Chromium</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:8080</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>25928C69-8D87-404D-9E2C-62E38ABB8B1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lh8080</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to localhost port 8080</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EFF047ED-49A6-45A6-81FF-B9789071D272</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.chromium.Chromium</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:8080</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C8FC478-A3E8-4740-BB88-6786BE14ED03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>localhost</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to localhost port 8080</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>82EECA61-861A-49E5-9D86-36B4579041E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>25928C69-8D87-404D-9E2C-62E38ABB8B1D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>2CE52635-F981-46CB-BD70-500BDB26DA5D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>82EECA61-861A-49E5-9D86-36B4579041E6</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>8C8FC478-A3E8-4740-BB88-6786BE14ED03</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>C98AD7B3-D444-482E-A55B-2E85D490A2C4</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EFF047ED-49A6-45A6-81FF-B9789071D272</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
